@use '../../styles/index.scss' as *;

.home {
  @include container;

  .shows {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
    padding-block: 10rem;

    @include md {
      grid-template-columns: repeat(2, 1fr);
      padding-block: 7rem;
    }

    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .showContainer {
    display: grid;
    place-content: center;
    min-height: 35rem;
  }

  .errorMessage {
    font-size: var(--font-size-xl);
    color: var(--color-light-500);
    font-weight: var(--font-weight-semibold);
  }
}
